// Sass миксины

$xxl: 1400;
$xl: 1200;
$lg: 992;
$md: 768;
$sm: 576;

$sizes: (1320:$xxl,
    1140:$xl,
    960:$lg,
    720:$md,
    540:$sm,
    0:0
);


@each $container-size,
$break-point in $sizes {
    @if $container-size==0 {
        .container {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            padding-right: 15px;
            padding-left: 15px;
        }
    }

    @else {
        @media(min-width:#{$break-point}px) {
            .container {
                max-width: #{$container-size}px;
            }
        }
    }
}

@mixin media($size) {
    @media (max-width:#{$size}px) {
        @content;
    }
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin abs-position ($top: 0, $left: 0, $right: auto, $bottom: auto) {
    position: absolute; 
    right: $right;
    bottom: $bottom;
    @if $top == 50% and $left == 50%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @else {
        top: $top;
        left: $left;
    }
}