.intro{
    // background: #F5EFF1;
    background: linear-gradient(270.07deg, #F5F5F5 0.07%, rgba(245, 245, 245, 0) 43.16%, rgba(245, 245, 245, 0) 72.83%, #F5F5F5 99.95%), linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../img/intro-bg.png) center / cover no-repeat;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        background: #E75B88;
        filter: blur(46px);
        border-radius: 100px;
        width: 70px;
        height: 70px;
        bottom: 70px;
        left: 60%;
        @include media(1200){
            display: none;
        }
    }
    @include media(992){
        background: linear-gradient(270.07deg, #F5F5F5 0.07%, rgba(245, 245, 245, 0) 43.16%, rgba(245, 245, 245, 0) 72.83%, #F5F5F5 99.95%), linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../img/intro-bg.png) center / cover no-repeat;
        padding-top: 70px;
        @include media(992){
            padding-top: 40px;
        }
    }
    &__body{
        padding-top: 70px;
        display: flex;
        justify-content: space-between;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background: #E75B88;
            filter: blur(90px);
            border-radius: 100px;
            width: 135px;
            height: 135px;
            top: 50%;
            left: -75.5px;
            transform: translateY(-50%);
            @include media(1200){
                display: none;
            }
        }
        @include media(992){
            padding-top: 40px;
            background: transparent !important;
            padding: 0 15px;
        }
    }
    &__title{
        max-width: 1000px;
        width: 100%;
        margin-bottom: 16px;    
        @include media(576){
            margin-bottom: 10px !important;
        }
    }
    &__desc{
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #222222;
        margin-bottom: 20px;
        @include media(576){
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
        }
    }
    &__content{
        width: max-content;
        max-width: 100%;
        padding-bottom: 72px;
        position: relative;
        @include media(1200){
            width: 100%;
        }
        @include media(768){
            padding-bottom: 50px;
        }
        // &::before{
            // content: '';
            // box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
            // backdrop-filter: blur(20px);
            // width: 3200px;
            // height: 100%;
            // right: 0;
            // bottom: 0;
            // position: absolute;
            // @include media(1200){ 
            //     display: none;
            // }
        // }
    }
    &__list{
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 750px;
        width: 100%;
        flex-wrap: wrap;
        row-gap: 20px;
        margin-bottom: 30px;
        @include media(1200){
            padding-top: 20px;
            max-width: 100%;
            justify-content: center;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
            backdrop-filter: blur(20px);
            padding-bottom: 80px;
            width: 100%;
            padding-left: 50px;
            padding-right: 50px;
            width: calc(100% + 30px);
        }
        @include media(992){
            padding-bottom: 50px;
            margin-left: 0;
            padding-right: 0;
            padding-left: 0;
            width: 100%;
        }
        @include media(576){
            padding-bottom: 30px;
            padding-left: 11px;
            padding-right: 11px;
        }
    }
    &__li{
        display: flex;
        align-items: center;
        column-gap: 20px;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        color: #222222;
        max-width: 370px;
        width: 100%;
        z-index: 2;
        @include media(576){
            column-gap: 15px;
            font-weight: 500;
        }
        img{
            box-shadow: 0px 2px 5px 1px rgba(61, 0, 19, 0.15);
            border-radius: 50%;
            @include media(576){
                width: 40px;
                height: 40px;
            }
        }
    }
    &__buttons{
        display: flex;
        column-gap: 30px;
        @include media(1200){
            justify-content: center;
        }
        @include media(768){
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
        }
    }
    &__btn{
        z-index: 2;
        @include media(375){
            width: 100% !important;
        }
        &:nth-of-type(1){
            @include media(576){
                width: 260px !important;
            }
            @include media(375){
                width: 100% !important;
            }
        }
        &:nth-of-type(2){
            max-width: 370px;
            width: 100%;
            height: 70px;
            @include media(992){
                width: 270px;
                height: 60px;
            }
        }
    }
    &__right{
        position: relative;
    }
    &__item{
        position: absolute;
        z-index: 2;
        &:nth-of-type(1){
            width: 140px;
            right: 0;
        }
        &:nth-of-type(2){
            width: 160px;
            right: 170px;
            top: 105px;
        }
        &:nth-of-type(3){
            width: 140px;
            right: 0;
            bottom: 50px;
        }
    }
    &__p{
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        width: 100%;
        background: #263D4F;
        box-shadow: 0px 2px 5px 1px rgba(0, 10, 61, 0.15);
        padding: 5px;
        bottom: 0;
        position: absolute;
    }
}