.results{
    padding: 0 !important;
    &__body{
        position: relative;
        padding: 100px 15px;
        @include media(992){
            padding: 50px 15px 110px 15px;
        }
        @include media(576){
            padding-top: 0;
        }
    }
    &__title{
        margin-bottom: 10px;
        @include media(1200){
            text-align: center;
        }
        @include media(576){
            text-align: left;
        }
    }
    &__desc{
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #222222;
        margin-bottom: 60px;
        @include media(1200){
            text-align: center;
            margin-bottom: 30px;
        }
        @include media(576){
            text-align: left;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        @include media(1200){
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            align-items: center;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        padding-left: 70px;
        @include media(992){
            padding-left: 0;
        }
        @include media(576){
            row-gap: 20px;
        }
    }
    &__li{
        position: relative;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #222222;
        padding-left: 30px;
        &::before{
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            top: 7px;
            left: 0;
            background: linear-gradient(180deg, #B9476B 0%, #A81A47 95.13%);
            box-shadow: 0px 2px 5px 1px rgba(61, 0, 19, 0.15);
            border-radius: 80px;
        }
        @include media(576){
            font-size: 14px;
            line-height: 150%;
        }
    }
    &__slider{
        max-width: 430px;
        position: relative;
        @include media(576){
            max-width: 290px;
        }
    }
    .swiper{
        width: 100%;
        overflow: hidden;
        position: relative;
        &-wrapper{
            display: flex;
            width: max-content;
        }
        &-slide{
            img{
                width: 100%;
            }
        }
        &-button{
            &-disabled{
                opacity: 0.3;
            }
            &-prev{
                position: relative;
                width: 40px;
                height: 30px;
                left: -70px;
                &::before{
                    content: '';
                    background: url(../img/estates-prev.svg) center / cover no-repeat;
                    width: 40px;
                    height: 30px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50% , -50%);
                    position: absolute;
                    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
                }
                @include media(1400){
                    right: -50px;
                }
                @include media(576){
                    left: 0%;
                }
            }
            &-next{
                position: relative;
                width: 40px;
                height: 30px;
                right: -70px;
                &::before{
                    content: '';
                    background: url(../img/estates-next.svg) center / cover no-repeat;
                    width: 40px;
                    height: 30px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50% , -50%);
                    position: absolute;
                    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
                }
                @include media(1400){
                    right: -50px;
                }
                @include media(576){
                    right: 0;
                }
            }
        }
    }
    &__buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        @include media(576){
            bottom: -60px;
        }
    }
    &__polygon{
        &_static{
            position: static !important;
            @include media(1200){
                display: flex !important;
                margin-left: auto;
                margin-right: auto;
            }
        }
        &_absolute{
            position: absolute;
            top: 23px;
            right: 0;
            width: 201px !important;
            height: 201px !important; 
        }
    }
}