.solutions{
    background: url(../img/solutions-bg.png) center / cover no-repeat;
    &__title{
        max-width: 900px;
        width: 100%;
        margin-bottom: 40px;
        @include media(992){
            text-align: center !important
        }
        @include media(768){
            text-align: left !important;
        }
        @include media(576){
            margin-bottom: 30px;
        }
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 85px;
        @include media(1400){
            column-gap: 50px;
        }
        @include media(1200){
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
    }
    &__col{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        &:nth-of-type(2){
            @include media(576){
                order: 1;
            }
        }
    }
    &__item{
        position: relative;
        background: rgba(34, 34, 34, 0.5);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
        backdrop-filter: blur(20px);
        padding: 20px 20px 20px 45px;
        @include media(1200){
            max-width: 500px;
            width: 100%
        }
        @include media(576){
            background: none;
            backdrop-filter: blur(0);
            box-shadow: 0;
            padding: 0 0 0 50px;
        }
    }
    &__subtitle{
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: #FFFFFF;
        margin-bottom: 10px;
        display: block;
        @include media(576){
            font-size: 16px;
            line-height: 150%;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    &__li{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        @include media(576){
            font-size: 14px;
            line-height: 150%;
        }
    }
    &__abs{
        position: absolute;
        top: 30px;
        left: -25px;
        @include media(576){
            left: 0;
            top: 0;
        }
        img{
            @include media(576){
                width: 40px;
                height: 40px;
            }
        }
    }
    &__star{
        @include media(576){
            margin-bottom: -130px;
        }
    }
}
