mixin estates()
    .estates.section#estates 
        .estates__body.container 
            h2.estates__title.title Наши типовые электрические шкафы работают для
            p.estates__subtitle #[span.title__span автоматизации объектов коммерческой недвижимости,] энергетики и гражданского строительства, механизации строительных площадок
            .estates__slider 
                .estates__swiper.swiper     
                    .estates__swiper-wrapper.swiper-wrapper 
                        .estates__slide.swiper-slide
                            img(src="@img/estates-img.svg", alt="" draggable="false" loading="lazy").disable-md
                            img(src="@img/estates-img-1_sm.svg", alt="" draggable="false" loading="lazy").enable-md
                        .estates__slide.swiper-slide
                            img(src="@img/estates-img-2.svg", alt="" draggable="false" loading="lazy").disable-md
                            img(src="@img/estates-img-2_sm.svg", alt="" draggable="false" loading="lazy").enable-md
                        .estates__slide.swiper-slide
                            img(src="@img/estates-img-3.svg", alt="" draggable="false" loading="lazy").disable-md
                            img(src="@img/estates-img-3_sm.svg", alt="" draggable="false" loading="lazy").enable-md
                        .estates__slide.swiper-slide
                            img(src="@img/estates-img-4.svg", alt="" draggable="false" loading="lazy").disable-md
                            img(src="@img/estates-img-4_sm.svg", alt="" draggable="false" loading="lazy").enable-md
                        .estates__slide.swiper-slide
                            img(src="@img/estates-img-5.svg", alt="" draggable="false" loading="lazy").disable-md
                            img(src="@img/estates-img-5_sm.svg", alt="" draggable="false" loading="lazy").enable-md
                .estates__buttons 
                    .swiper-button-prev
                    .swiper-pagination
                    .swiper-button-next