mixin needs()
    .needs.section 
        .needs__body.container 
            h2.needs__title.title_white Какие электрические шкафы решат задачи вашего бизнеса?
            .needs__slider.disable-xxl 
                .needs__swiper.swiper
                    .needs__swiper-wrapper.swiper-wrapper 
                        .needs__slide.swiper-slide 
                            span.needs__subtitle Шкафы автоматики узлов учета АИИС КУЭ / АСТУЭ
                            ul.needs__list  
                                li.needs__li сбор информации о потреблении  энергоресурсов с узлов учета
                                li.needs__li передача данных в диспетчерские и расчётные центры и системы верхнего уровня
                            a(href="#!").needs__link Подробнее 
                        .needs__slide.swiper-slide 
                            span.needs__subtitle Шкафы для автоматизированной системы управления освещением (АСУНО)
                            ul.needs__list  
                                li.needs__li управление наружным и внутренним освещением
                                li.needs__li учет и передача данных по потребленной электроэнергии
                            a(href="#!").needs__link Подробнее 
                        .needs__slide.swiper-slide 
                            span.needs__subtitle Шкафы для фотоэлектрических станций (PV)
                            ul.needs__list  
                                li.needs__li соединительные коробки
                                li.needs__li распределительные щиты
                                li.needs__li вводно-распределительные устройства
                            a(href="#!").needs__link Подробнее
                        .needs__slide.swiper-slide 
                            span.needs__subtitle Шкафы управления потребителями электроэнергии
                            ul.needs__list  
                                li.needs__li защита двигателей от короткого замыкания
                                li.needs__li защита от перегрузок при продолжительном режиме работы в умеренном климате
                                li.needs__li прием и распределение электрической энергии
                            a(href="#!").needs__link Подробнее 
                        .needs__slide.swiper-slide 
                            span.needs__subtitle Специализированные шкафы для особых условий эксплуатации
                            ul.needs__list  
                                li.needs__li защита от агрессивных климатических условий
                                li.needs__li защита от химических воздействий
                                li.needs__li выполнение жестких требований к электрооборудованию
                            a(href="#!").needs__link Подробнее 
                        .needs__slide.swiper-slide 
                            span.needs__subtitle Шкафы для телекоммуникации и связи
                            ul.needs__list  
                                li.needs__li сетевые и серверные шкафы и стойки
                                li.needs__li климатические шкафы
                                li.needs__li кабеленесущие системы
                            a(href="#!").needs__link Подробнее
            .needs__slider.enable-xxl 
                .needs__swiper.swiper
                    .needs__swiper-wrapper.swiper-wrapper 
                        .needs__slide.swiper-slide 
                            span.needs__subtitle Шкафы автоматики узлов учета АИИС КУЭ / АСТУЭ
                            ul.needs__list  
                                li.needs__li сбор информации о потреблении  энергоресурсов с узлов учета
                                li.needs__li передача данных в диспетчерские и расчётные центры и системы верхнего уровня
                            a(href="#!").needs__link Подробнее 
                        .needs__slide.swiper-slide 
                            span.needs__subtitle Шкафы для автоматизированной системы управления освещением (АСУНО)
                            ul.needs__list  
                                li.needs__li управление наружным и внутренним освещением
                                li.needs__li учет и передача данных по потребленной электроэнергии
                            a(href="#!").needs__link Подробнее 
                        .needs__slide.swiper-slide 
                            span.needs__subtitle Шкафы для фотоэлектрических станций (PV)
                            ul.needs__list  
                                li.needs__li соединительные коробки
                                li.needs__li распределительные щиты
                                li.needs__li вводно-распределительные устройства
                            a(href="#!").needs__link Подробнее
                        .needs__slide.swiper-slide 
                            span.needs__subtitle Шкафы управления потребителями электроэнергии
                            ul.needs__list  
                                li.needs__li защита двигателей от короткого замыкания
                                li.needs__li защита от перегрузок при продолжительном режиме работы в умеренном климате
                                li.needs__li прием и распределение электрической энергии
                            a(href="#!").needs__link Подробнее 
                        .needs__slide.swiper-slide 
                            span.needs__subtitle Специализированные шкафы для особых условий эксплуатации
                            ul.needs__list  
                                li.needs__li защита от агрессивных климатических условий
                                li.needs__li защита от химических воздействий
                                li.needs__li выполнение жестких требований к электрооборудованию
                            a(href="#!").needs__link Подробнее 
                        .needs__slide.swiper-slide 
                            span.needs__subtitle Шкафы для телекоммуникации и связи
                            ul.needs__list  
                                li.needs__li сетевые и серверные шкафы и стойки
                                li.needs__li климатические шкафы
                                li.needs__li кабеленесущие системы
                            a(href="#!").needs__link Подробнее
                .needs__buttons.swiper-buttons
                    .swiper-button-prev.enable-xxl 
                    .swiper-button-next.enable-xxl 