mixin order()
    .order.section 
        .order__body.container 
            .order__left 
                h2.order__title Закажите обратный звонок и бесплатную консультацию! 
            .order__right 
                a(href="#!").order__btn.btn.popup-open Получить консультацию