mixin partners()
    .partners.section#partners 
        .partners__body.container 
            h2.partners__title.title_white Ваши выгоды от партнерства с нами
            .partners__wrapper 
                .partners__col
                    .partners__item 
                        img(src="@img/partners-tick.svg", alt="" draggable="false" loading="lazy")
                        p.partners__p #[b Зафиксируем для вас цены на проект.] Сохраним бюджет за счет закупки сырья и материалов
                    .partners__item 
                        img(src="@img/partners-tick.svg", alt="" draggable="false" loading="lazy")
                        p.partners__p #[b Широкий выбор мировых брендов и их аналогов.] Предложим продукцию разных производителей — из Китая, Турции, Южной Кореи и России
                .partners__col 
                    .star.partners__star 
                        p.star-p.partners__star-p Более #[br] #[span.partners__star-span.star-span 10 лет ] #[br] на рынке электрощитового оборудования
                    .partners__item 
                        img(src="@img/partners-tick.svg", alt="" draggable="false" loading="lazy")
                        p.partners__p #[b Индивидуальное сопровождение ] на всех этапах: от предпроектной подготовки до техподдержки 
                .partners__col
                    .partners__item 
                        img(src="@img/partners-tick.svg", alt="" draggable="false" loading="lazy")
                        p.partners__p #[b Организуем производство ] большого количества шкафов в единицу времени
                    .partners__item 
                        img(src="@img/partners-tick.svg", alt="" draggable="false" loading="lazy")
                        p.partners__p #[b Доставка и монтаж по всей стране. ] Работаем от Калининграда до Южно-Сахалинска