mixin projects()
    .projects.section 
        .projects__body.container 
            h2.projects__title.title #[span.title__span Хотите использовать] такие электрические шкафы в своих проектах?
            p.projects__desc #[b Обратитесь к нам!] Мы уже поставили и смонтировали шкафы разных типов на десятках объектах
            .projects__content 
                .projects__left 
                    a(href="#!" data-target="consult-popup").btn.projects__btn.popup-open Получить консультацию
                    a(href="#tips").btn_primary.projects__btn_primary Выбрать шкаф из каталога
                ul.projects__list 
                    li.projects__li #[img(src="@img/projects-icon-1.svg", alt="" draggable="false" loading="lazy")] Подберем варианты типовых шкафов 
                    li.projects__li #[img(src="@img/projects-icon-2.svg", alt="" draggable="false" loading="lazy")] Разработаем специально под ваш проект шкафы для особых условий эксплуатации 
                    li.projects__li #[img(src="@img/projects-icon-3.svg", alt="" draggable="false" loading="lazy")] Подготовим конструкторскую документацию
                .projects__info 
                    p.projects__info-p Мы предложим вам оптимальное решение
                .projects__polygon.polygon 
                    p.projects__polygon-p.polygon-p Только сертифицированная продукция 
