mixin results()
    .results.section 
        .results__body.container 
            h2.results__title.title Нам доверяют, мы — даем результат!
            p.results__desc Наши #[b принципы и ценности:]
            .results__content 
                ul.results__list 
                    li.results__li Открытость и честность в отношениях
                    li.results__li Профессионализм и качество на всех этапах 
                    li.results__li Эффективность в работе
                    li.results__li Применение современных технологий и решений
                    li.results__li Гибкость и оперативность в действиях
                    .results__polygon.results__polygon_static.polygon.enable-xl 
                        p.results__polygon-p.polygon-p  ИСО #[br] 9001—2015
                .results__slider 
                    .results__swiper.swiper 
                        .results__swiper-wrapper.swiper-wrapper 
                            .results__slide.swiper-slide
                                img(src="@img/results-img.png", alt="" draggable="false" loading="lazy")
                            .results__slide.swiper-slide
                                img(src="@img/results-img.png", alt="" draggable="false" loading="lazy")
                            .results__slide.swiper-slide
                                img(src="@img/results-img.png", alt="" draggable="false" loading="lazy")
                            .results__slide.swiper-slide
                                img(src="@img/results-img.png", alt="" draggable="false" loading="lazy")
                    .results__buttons 
                        .swiper-button-prev
                        .swiper-button-next
            .results__polygon.results__polygon_absolute.polygon.disable-xl 
                p.results__polygon-p.polygon-p  ИСО #[br] 9001—2015