mixin solutions()
    .solutions.section 
        .solutions__body.container 
            h2.solutions__title.title_white Нужны не просто шкафы, а системные инжиниринговые решения? 
            .solutions__wrapper     
                .solutions__col
                    .solutions__item 
                        span.solutions__subtitle Инвесторам
                        ul.solutions__list 
                            li.solutions__li Консалтинг
                            li.solutions__li Подготовка ТЭО
                            li.solutions__li Оценка проекта
                            li.solutions__li Реализация всех этапов проекта 
                        .solutions__abs 
                            img(src="@img/solutions-icon-1.svg", alt="" draggable="false" loading="lazy")
                    .solutions__item
                        span.solutions__subtitle Промышленные предприятия
                        ul.solutions__list
                            li.solutions__li Составление технических заданий
                            li.solutions__li Планирование реконструкции систем автоматизации
                            li.solutions__li Реализация проектов
                            li.solutions__li Реализация всех этапов проекта
                        .solutions__abs
                            img(src="@img/solutions-icon-2.svg", alt="" draggable="false" loading="lazy")
                .solutions__col
                    .solutions__star.star 
                        .solutions__star-p.star-p Полный комплекс инжиниринговых услуг     
                .solutions__col
                    .solutions__item 
                        span.solutions__subtitle Строительные и подрядные организации
                        ul.solutions__list 
                            li.solutions__li Подготовка технических заданий
                            li.solutions__li Разработка проектных документаций
                            li.solutions__li Составление сметной документации
                            li.solutions__li Функции технического заказчика 
                            li.solutions__li Консультации и техподдержка 
                        .solutions__abs 
                            img(src="@img/solutions-icon-1.svg", alt="" draggable="false" loading="lazy")
                    .solutions__item
                        span.solutions__subtitle Проектные организации
                        ul.solutions__list
                            li.solutions__li Подбор оборудования
                            li.solutions__li Предложение оптимальных технических решений под ваш проект
                        .solutions__abs
                            img(src="@img/solutions-icon-2.svg", alt="" draggable="false" loading="lazy")