// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: OpenSans, sans-serif;
    scroll-behavior: smooth;
    &:focus,
    &:active{
        outline: none;
    }
}
html,
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body{
    width: 100%;
    &.active{
        overflow: hidden;
    }
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .main{
        flex: 1 1 auto;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background: linear-gradient(180deg, #B9476B 0%, #A81A47 95.13%);
    box-shadow: 0px 2px 5px 1px rgba(61, 0, 19, 0.15);
    border-radius: 80px;
    width: 270px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    &_primary{
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #222222;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 4px 4px 8px rgba(199, 17, 74, 0.2);
        border-radius: 80px;
        position: relative;
        border: 1px solid #A81A47;
        @include media(992){
            font-size: 14px;
            line-height: 19px;
            height: 60px;
        }
        @include media(576){
            width: 100%;
        }
    }
    @include media(992){
        font-size: 14px;
        line-height: 19px;
        height: 60px;
    }
    @include media(576){
        width: 100%;
    }
}
.section{
    padding: 100px 0;
    @include media(992){
        padding: 50px 0;
    }
}
.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #222222;
    @include media(1200){
        font-size: 32px;
    }
    @include media(992){
        font-size: 22px;
        margin-bottom: 10px;
    }
    @include media(576){
        font-size: 18px;
        margin-bottom: 5px;
    }
    &__span{
        color: #A81A47;
    }
    &_white{
        font-weight: 700;
        font-size: 36px;
        line-height: 140%;
        color: #FFFFFF;
        @include media(1200){
            font-size: 27px;
            margin-left: auto;
            margin-right: auto;
            text-align: center; 
        }
        @include media(992){
            font-size: 20px;
            line-height: 140%;
            text-align: left;
        }
    }
}
.polygon{
    background: url(../img/polygon.svg) center / cover no-repeat;
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    @include media(992){
        width: 166px;
        height: 166px;
    }
    &-p{
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        @include media(992){
            font-weight: 700;
            font-size: 13px;
            line-height: 150%;
        }
    }
}
.star{
    width: 229px;
    height: 229px;
    background: url(../img/star.svg) center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    @include media(576){
        width: 167px;
        height: 167px;
    }
    &-p{
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #222222;
        @include media(576){
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
        }
    }
}